body{
  height: 100vh;
  margin: 0;
  background-color: green;
  font-family: Arial, sans-serif;
}


.relative {
  position: relative; 
}

#blackjack_banner {
  background: url('../images/Black_Jack_Banner.png') no-repeat center / cover;
  width: 100vw;
  height: 35vw;
}

#blackjack-table {
  background: url('../images/blackjack-tabletop.png') no-repeat center;
  background-size: 300%;
  width: 100 vw;
  text-align: center;
  height: 500px; 
}

#blackjack-tabletop {
  background: url('../images/BLACKjack-tabletop.jpg') no-repeat center / cover;
  width: 60vw;
  height: 30vw;
}

/* ReAdded card class with addjustments for font-size
 to make results cards inline with drawn cards*/
.card {
  width: 60px;
  height: 90px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  position: absolute; 
  left: 80%;
}

#spacer {
  width: 60px;
  height: 90px;
}

.btn {
  /* Sets button style*/
  transition: transform 0.3s ease;
  /* Adds a smooth transition effect */
}

.btn:hover {
  transform: translateY(-5px);
  /* Move the button up by ?*/
}

.heading {

  text-align: center;
  color: #fff;
  background-color: #388e3c;
  
  padding-left: 5px;
  padding-top: 0;
  padding-right: 0;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}


/* Add styling for card values */
/* needs to be hidden until cards are dealt */
#player-cards-value, #dealer-cards-value {
  background-color: brown;
  border-radius: 25%;
  
  width: 40px;
  height: 30px;
  position: relative;
  inset: 1px 1px 2px 10px;
  margin: 7px;
  padding-top: 3px;
  /* hide card value */
  display: none;
}

/* #dealer-cards-value {
  background-color: brown;
  display: none;
} */

/* Styling specifically for bank area & chips */
#bank-box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 80vw;
    height: 80vh;
    position: absolute;
    border-radius: 1%;
}

#bank-box h2 {
    color: white;
    padding: 1rem; 
}

#bank-box>div {
    height: 20vh;
    position: relative;
}

.chip {
    width: 10vw;
    height: 20vh;
    position: absolute; 
}

.chip-5 {
    background: url('../images/poker_chips/chip_white_top_large.png') no-repeat center / cover;
    background-size: 80%;
}

.chip-10 {
    background: url('../images/poker_chips/chip_red_top_large.png') no-repeat center / cover;
    background-size: 80%;
}

.chip-25 {
    background: url('../images/poker_chips/chip_green_top_large.png') no-repeat center / cover;
    background-size: 80%;
}

.chip-50 {
    background: url('../images/poker_chips/chip_blue_top_large.png') no-repeat center / cover;
    background-size: 80%;
}

.chip-100 {
    background: url('../images/poker_chips/chip_black_top_large.png') no-repeat center / cover;
    background-size: 80%;
}
/* Media query for medium screen sizes (>= 768px) */
@media screen and (min-width: 768px) {
  /* Header */
  /* Banner */
  #blackjack_banner {
    width: 50vw;
    height: 15vw;
  }

  /* section */
  #blackjack-table {
    background-size : 150%;
    height: 550px
  }
}

/* Media query for large screen sizes (>= 992px) */
@media screen and (min-width: 992px) {
  /* Header */
  /* Banner */
  #blackjack_banner {
    width: 30vw;
    height: 10vw;
  }

  /* section */
  #blackjack-table {
    background-size : 85%;
    height: 550px
  }
}